*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: var(--font-body);
   font-size: var(--font-size-normal);
   background: var(--color-body);
}

img {
   max-width: 100%;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   list-style: none;
}

a, li, ul, ol {
   text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
   margin: 0;
}

p {
   margin: 0;
   padding: 0;
}
