:root {
   --color-main-darker: #7a8590;
   --color-main-dark: #92a1b0;
   --color-main-alt: #f0f8ff;
   --color-main-normal: #ffffff;
   --color-main-light: #f8f9fc;

   --color-secondary-dark: #017bfd;
   --color-secondary-normal: #00adff;
   --color-secondary-light: #00f1ff;

   --color-text-dark: #2a3b47;
   --color-text-normal: #575e66;

   --color-header: #2E2E2E;

   --color-body: #eee;
}
